body {
  color: crimson;
  background-color: #c4c4c4;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.modal-button {
  padding: 20px;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  width: 20px;
  height: 20px;
}
